site_name: Nitesh Notes
site_description: Technical notes, system design, distributed system, Spring Boot, microservices
site_author: Nitesh
repo_url: https://github.com/Nitesh123-Nits/niteshdailydocs
theme:
  name: material
  icon:
    logo: fontawesome/solid/w
  favicon: logo.png
  palette:
   - scheme: slate
     toggle:
      icon: material/brightness-7 
      name: Dark Mode
     primary: purple
     accent: pink
   - scheme: default
     toggle:
      icon: material/brightness-7 
      name: Light Mode
     primary: blue
     accent: deep orange
  features:
    - navigation.instant
    - navigation.tracking
    - toc.integrate



markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search


# Optional: change docs_dir/build_dir if needed
